extends layouts/login-layout.pug

block content
    div.loginContainer
        h1 Login 
        form(action="", method="post")
            p.errorMessage #{errorMessage}
            input(type="text", name="logUsername", placeholder="Username or email", required='')  
            input(type="password", name="logPassword", placeholder="Password", required='')
            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.
        button.btn.btn-warning(type='button', data-bs-placement="right", data-bs-toggle='popover', data-bs-title='Conta para recrutadores', data-bs-content="<p>username: pedrosilva</p><p>senha: silva123<p/>")
          i.fa-regular.fa-lightbulb
              
